@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
        Page "@ViewBag.ActionName" that you've requested couldn't be found!
    </div>
</body>
</html>
